@page "/customer/create"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Create</h3>

<Form ButtonText="Create Customer" cust="@cust"
            OnValidSubmit="@CreateCustomer" />

@code {
    Customer cust = new Customer();
    async Task CreateCustomer()
    {
        var response = await http.PostAsJsonAsync("api/customer", cust);
        if (response.StatusCode != System.Net.HttpStatusCode.OK)
        {
           await js.InvokeVoidAsync("alert", $"Invalid Data!");
        }
        else
        {
            uriHelper.NavigateTo("customer");
        }
    }
}